################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/elpibegravedad/FileContentIndex
/.vs/elpibegravedad/v17
/.vs
