.body {
    color: #0000ff;
}

.divMapa {
    border: 1px solid #0000ff;
    align-content: center;
    padding: 12px;
    margin: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.divMapa:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.divMapa img {
    margin-left: 40px;
}

.divMapa p {
    margin-top: 12px;
    font-size: 16px;
}

#barranavegacion {
    display: flex; justify-content: space-between; align-items: center; background-color: #0000FF; color: #FFFFFF; padding: 10px; width: 100%; position: fixed; top: 0; z-index: 1000;
}

#titulonav {
    color: #FFFFFF; text-decoration: none; font-size: 1.5em;

}